* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 17px;
}

a {
  color: #000;
}

.center {
  text-align: center;
  margin: auto;
}

.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 32px;
  margin: 10px 0;
  word-break: break-all;
}

.social a {
  position: relative;
  margin-right: 20px;
  display: inline-block;
}

.social a:after {
  content: '|';
  position: absolute;
  top: -1px;
  right: -14px;
}

.social a:last-child {
  margin: 0;
}

.social a:last-child:after {
  display: none;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 33.33%;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  padding: 10px;
  transition: all 0.5s;
}

.content:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.show {
  display: block;
}

.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.5s;
  margin-bottom: 5px;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  display: block;
  margin: auto;
}

.projects a {
  display: block;
  text-align: center;
}

.projects figure {
  margin: 0;
}

.projects img {
  width: 100%;
  height: auto;
}

@media(max-width: 700px){
  .row {
    padding: 0;
    margin: 10px 0;
  }
  .row > .column {
    padding: 10px;
    width: 50%;
  }
}

@media(max-width: 550px){
  body {
    margin: 0;
    padding: 20px;
  }
  .row {
    padding: 0;
    margin: 10px 0;
  }
  .row > .column {
    padding: 10px 0;
    width: 100%;
  }
}